[submodule "Theron"]
	path = Theron
	url = http://github.com/guruofquality/Theron.git
[submodule "Apology"]
	path = Apology
	url = http://github.com/guruofquality/Apology.git
[submodule "PMC"]
	path = PMC
	url = http://github.com/guruofquality/PMC.git
[submodule "gnuradio"]
	path = gnuradio
	url = http://github.com/guruofquality/gnuradio.git
[submodule "grex"]
	path = grex
	url = http://github.com/guruofquality/grex.git
